@using Assignment_4.Models
@Styles.Render("~/Content/Roster.css");

@{
    @Html.Partial("_SearchBarRoster");

    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Roster";
    <h2 class="title">@ViewBag.Title</h2>

    if (Model.Players.Count == 0)
    {
        <p>No Players Found</p>
    }
    else
    {
        foreach (Player p in Model.Players)
        {
            <div class="row" id="player">
                <div class="col-md-2">
                    <div class="col-md-10">
                        <h2>IGN: <span>@(p.IGN)</span></h2>
                        <p>KD: <span>@(p.KD)</span> Region:<span>@(p.Region)</span></p><br />
                        <p>
                            Teams: @{ foreach (Team t in p.Teams)
                                {
                                    <span>@Html.ActionLink(t.Name, "ShowTeam", "Home", new { id = t.TeamId }, new { @class = "teamLink" })</span>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    }
}



