@using Assignment_4.Models
@Styles.Render("~/Content/Roster.css");

@{
    @Html.Partial("_SearchBarTeams");

    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Teams";
    <h2 class="title">@ViewBag.Title</h2>
    <p id="detailNote">Click on a Team Name to see details.</p>

    if (Model.Teams.Count == 0)
    {
        <p>No Teams Found</p>
    }
    else
    {
        foreach (Team t in Model.Teams)
        {
            <div class="row" id="team">
                <div class="col-md-2">
                    <div class="col-md-10">
                        <h2>Team Name: <span>@Html.ActionLink(t.Name, "ShowTeam", "Home", new { id = t.TeamId }, new { @class = "teamLink" })</span></h2>
                        <p>Region: <span>@(t.Region)</span> Captain:<span>@(t.Capt.IGN)</span></p>
                    </div>
                </div>
            </div>
        }
    }
}



